{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}
    <section class="team-cards-section my-5">
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-md-4 card-wrapper">
                    <div class="card card-style" >
                        <img class="card-img-top" src={{ asset('asset/images/business-3560916_1920.jpg' ) }} alt="portrait_président">
                        <!-- <img src="img/about/card-one.png" class="img-circle" alt="Cinque Terre" width="250" height="236">  -->

                        <div class="card-body">
                            <h3 class="card-title text-primary" style="font-family: 'Pirata One', cursive; font-size: xx-large">Président</h3>
                            <h4>SAUCREY Antoine</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis urna placerat, placerat turpis a, accumsan sem. Nullam metus risus, rutrum vel ligula quis, egestas tempus purus. Nullam tincidunt eget odio nec maximus. Cras in dolor ligula. Mauris varius semper nunc non aliquet. Aenean a erat sapien. Nam at mi id massa vehicula maximus ut at diam. Duis convallis faucibus ligula, et lobortis libero tincidunt ac. Pellentesque nisi odio, laoreet sit amet aliquam sed, vehicula id odio. Quisque volutpat ex id iaculis mattis.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-wrapper">
                    <div class="card card-style">
                        <img class="card-img-top" src={{ asset('asset/images/model-2911330_1920.jpg')}} alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title text-primary" style="font-family: 'Pirata One', cursive; font-size: xx-large">Vice-président</h3>
                            <h4>BORDIER Antoine</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique neque semper, tempus ipsum vitae, malesuada erat. Morbi quis enim velit. Cras vel nulla eu justo convallis lobortis nec sit amet enim. Donec nec turpis mattis, congue nisl quis, egestas sapien. Fusce mollis quam ante, eu sagittis neque dignissim eget. Mauris condimentum nibh in odio faucibus porttitor. Vivamus consequat aliquet sem eget tempus. Mauris mollis fringilla tincidunt. Mauris iaculis luctus leo, et tincidunt est euismod a. Vestibulum condimentum laoreet lacus, eu vestibulum turpis accumsan malesuada.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-wrapper">
                    <div class="card card-style">
                        <img class="card-img-top" src={{ asset('asset/images/woman-2773007_1920.jpg' ) }} alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title text-primary" style="font-family: 'Pirata One', cursive; font-size: xx-large">Secrétaire</h3>
                            <h4>GAY Mélanie</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique neque semper, tempus ipsum vitae, malesuada erat. Morbi quis enim velit. Cras vel nulla eu justo convallis lobortis nec sit amet enim. Donec nec turpis mattis, congue nisl quis, egestas sapien. Fusce mollis quam ante, eu sagittis neque dignissim eget. Mauris condimentum nibh in odio faucibus porttitor. Vivamus consequat aliquet sem eget tempus. Mauris mollis fringilla tincidunt. Mauris iaculis luctus leo, et tincidunt est euismod a. Vestibulum condimentum laoreet lacus, eu vestibulum turpis accumsan malesuada.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 card-wrapper">
                    <div class="card card-style" >
                        <img class="card-img-top" src={{ asset('asset/images/business-3560916_1920.jpg' ) }} alt="portrait_président">

                        <div class="card-body">
                            <h3 class="card-title text-primary" style="font-family: 'Pirata One', cursive; font-size: xx-large">Trésorière</h3>
                            <h4>DOS SANTOS SILVA Anne-Christine</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis urna placerat, placerat turpis a, accumsan sem. Nullam metus risus, rutrum vel ligula quis, egestas tempus purus. Nullam tincidunt eget odio nec maximus. Cras in dolor ligula. Mauris varius semper nunc non aliquet. Aenean a erat sapien. Nam at mi id massa vehicula maximus ut at diam. Duis convallis faucibus ligula, et lobortis libero tincidunt ac. Pellentesque nisi odio, laoreet sit amet aliquam sed, vehicula id odio. Quisque volutpat ex id iaculis mattis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-wrapper">
                    <div class="card card-style">
                        <img class="card-img-top" src={{ asset('asset/images/model-2911330_1920.jpg')}} alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title text-primary" style="font-family: 'Pirata One', cursive; font-size: xx-large">Vice-trésorier</h3>
                            <h4>EMILE Chrissio</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique neque semper, tempus ipsum vitae, malesuada erat. Morbi quis enim velit. Cras vel nulla eu justo convallis lobortis nec sit amet enim. Donec nec turpis mattis, congue nisl quis, egestas sapien. Fusce mollis quam ante, eu sagittis neque dignissim eget. Mauris condimentum nibh in odio faucibus porttitor. Vivamus consequat aliquet sem eget tempus. Mauris mollis fringilla tincidunt. Mauris iaculis luctus leo, et tincidunt est euismod a. Vestibulum condimentum laoreet lacus, eu vestibulum turpis accumsan malesuada.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-wrapper">
                    <div class="card card-style">
                        <img class="card-img-top" src={{ asset('asset/images/woman-2773007_1920.jpg' ) }} alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title text-primary" style="font-family: 'Pirata One', cursive; font-size: xx-large">Vice-président Traditions</h3>
                            <h4>BOUDET Alexis</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique neque semper, tempus ipsum vitae, malesuada erat. Morbi quis enim velit. Cras vel nulla eu justo convallis lobortis nec sit amet enim. Donec nec turpis mattis, congue nisl quis, egestas sapien. Fusce mollis quam ante, eu sagittis neque dignissim eget. Mauris condimentum nibh in odio faucibus porttitor. Vivamus consequat aliquet sem eget tempus. Mauris mollis fringilla tincidunt. Mauris iaculis luctus leo, et tincidunt est euismod a. Vestibulum condimentum laoreet lacus, eu vestibulum turpis accumsan malesuada.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 card-wrapper">
                    <div class="card card-style" >
                        <img class="card-img-top" src={{ asset('asset/images/business-3560916_1920.jpg' ) }} alt="portrait_président">
                        <!-- <img src="img/about/card-one.png" class="img-circle" alt="Cinque Terre" width="250" height="236">  -->

                        <div class="card-body">
                            <h3 class="card-title text-primary" style="font-family: 'Pirata One', cursive; font-size: xx-large">Vice-présidente Communication</h3>
                            <h4>LE MENEZ Agathe</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis urna placerat, placerat turpis a, accumsan sem. Nullam metus risus, rutrum vel ligula quis, egestas tempus purus. Nullam tincidunt eget odio nec maximus. Cras in dolor ligula. Mauris varius semper nunc non aliquet. Aenean a erat sapien. Nam at mi id massa vehicula maximus ut at diam. Duis convallis faucibus ligula, et lobortis libero tincidunt ac. Pellentesque nisi odio, laoreet sit amet aliquam sed, vehicula id odio. Quisque volutpat ex id iaculis mattis.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-wrapper">
                    <div class="card card-style">
                        <img class="card-img-top" src={{ asset('asset/images/model-2911330_1920.jpg')}} alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title text-primary" style="font-family: 'Pirata One', cursive; font-size: xx-large">Vice-président Communication</h3>
                            <h4>MOREAU Alexandre</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique neque semper, tempus ipsum vitae, malesuada erat. Morbi quis enim velit. Cras vel nulla eu justo convallis lobortis nec sit amet enim. Donec nec turpis mattis, congue nisl quis, egestas sapien. Fusce mollis quam ante, eu sagittis neque dignissim eget. Mauris condimentum nibh in odio faucibus porttitor. Vivamus consequat aliquet sem eget tempus. Mauris mollis fringilla tincidunt. Mauris iaculis luctus leo, et tincidunt est euismod a. Vestibulum condimentum laoreet lacus, eu vestibulum turpis accumsan malesuada.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-wrapper">
                    <div class="card card-style">
                        <img class="card-img-top" src={{ asset('asset/images/woman-2773007_1920.jpg' ) }} alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title text-primary" style="font-family: 'Pirata One', cursive; font-size: xx-large">Vice-présidente Partenariats</h3>
                            <h4>RAMDANI Narmane</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique neque semper, tempus ipsum vitae, malesuada erat. Morbi quis enim velit. Cras vel nulla eu justo convallis lobortis nec sit amet enim. Donec nec turpis mattis, congue nisl quis, egestas sapien. Fusce mollis quam ante, eu sagittis neque dignissim eget. Mauris condimentum nibh in odio faucibus porttitor. Vivamus consequat aliquet sem eget tempus. Mauris mollis fringilla tincidunt. Mauris iaculis luctus leo, et tincidunt est euismod a. Vestibulum condimentum laoreet lacus, eu vestibulum turpis accumsan malesuada.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
