{% extends 'base.html.twig' %}

{% block title %}Orlours 135 : Cette magnifique orga{% endblock %}

{% block body %}
    <h1>Découvrez notre équipe de choc</h1>
    <section class="wrapper">
        <div class="card">
            <img src="{{ asset('asset/images/plouf.png' ) }}" alt="portrait-président">
            <div class="card-body">
                <h3>Antoine "Madeleine de Ploufs" SAUCRAY</h3>
                <h4>Président</h4>
                <p class="card-text">Baptisé Sciences Orléans le 4 juin 2016, Ancien président de la fouf et Cape d'Orléans</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ asset('asset/images/toyboy.png')}}" alt="portrait-vp">
            <div class="card-body">
                <h3>Antoine "Toyboy" BORDIER</h3>
                <h4>Vice président</h4>
                <p class="card-text">Baptisé IUT Tours le 26 mars 2011, ancien président de la Rabelaisienne 2019-2020</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ asset('asset/images/melanie.png' ) }}" alt="portrait-secretaire">
            <div class="card-body">
                <h3>Mélanie "Creaaamy Sexy Frog 3" GAY</h3>
                <h4>Secrétaire</h4>
                <p class="card-text">Baptisée Sciences Tours le 21 septembre 2019, ancienne membre de la Rabelaisienne et actuellement membre de la Fouf</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ asset('asset/images/annechristine.png' ) }}" alt="portrait_tresorière">
            <div class="card-body">
                <h3>Anne-Christine "Truella" DOS SANTOS SILVA</h3>
                <h4>Trésorière</h4>
                <p class="card-text">Faluchée Médecine Tours le 27 novembre 2015, trésorière de la Rabelaisienne</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ asset('asset/images/chrissio.png')}}" alt="portrait-vice-tresorier">
            <div class="card-body">
                <h3>Chrissio "Ruby C Flirte" EMILE</h3>
                <h4>Trésorier du vice</h4>
                <p class="card-text">Baptisé Gestion Orléans le 22 août 2014, Ancien membre de la Fouf et Cape d'Orléans</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ asset('asset/images/alexis.png' ) }}" alt="portrait-vp-tradition">
            <div class="card-body">
                <h3>Alexis "Trililiii Poypoy" BOUDET</h3>
                <h4>Vice-président Traditions</h4>
                <p class="card-text">Baptisé Economie Tours le 30 août 2010, ancien membre de la Rabelaisienne 2017, 2019 et 2020, 4x champion de Flip cup</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ asset('asset/images/agathe.png' ) }}" alt="portrait-vp-com">
            <div class="card-body">
                <h3>Agathe "404 not found" LE MENEZ</h3>
                <h4>Vice-présidente Communication</h4>
                <p class="card-text">Impétrante Droit Orléans, actuelle secrétaire de la Fouf</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ asset('asset/images/alexandre.png')}}" alt="portrait-vp-com-it">
            <div class="card-body">
                <h3>Alexandre "Morfalou" MOREAU</h3>
                <h4>Vice-président Communication</h4>
                <p class="card-text">Baptisé Sciences Dijon le 2 avril 2010, adopté Tours le 15 août 2020</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ asset('asset/images/naru.png' ) }}" alt="portrait-vp-partenariat">
            <div class="card-body">
                <h3>Narmane "Darkfinger" RAMDANI</h3>
                <h4>Vice-présidente Partenariats</h4>
                <p class="card-text">Baptisée école militaire Strasbourg le 26 pctobre 2018, adoptée Orléans BeurDark aka Armeus, ancienne présidente de la Fouf 2019-2020</p>
            </div>
        </div>

    </section>
{% endblock %}
