{% extends 'base.html.twig' %}

{% block title %}Jeu des maisons{% endblock %}

{% block body %}
    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            let answers = [];
            let page = 2;
            $(".button-game").on("click", function(){
                answers.push($(this).attr('id'));
                if (answers.length >= {{ nbQuestion }}) {
                    let house = findHouse(compare(foo(answers)));
                    $('#cadre').html(
                        '<section id="result">' +
                        '<div id="maison">' +
                        '<a href="housegame/result/'+ house + '"><img class="discover" src="{{ asset('asset/images/housegame/blason_final.png' ) }}" alt="blason_all_houses"></a>' +
                        '</div>' +
                        '<div id="description">'    +
                        '<a id="discover" href="housegame/result/'+ house + '">Découvre ta maison</a>' +
                        '</div>' +
                        '</section>'
                    );
                    $('#blason').add(".discover");
                    $('#discover').addClass("button-game yellow");

                } else {
                    let data = {request : answers};
                    $.ajax({
                        url:        'housegame/ajax/' + page,
                        type:       'POST',
                        dataType:   'json',
                        async:      true,
                        data: data,

                        success: function(data) {
                            $('#a').html(data['answera']);
                            $('#b').html(data['answerb']);
                            $('#c').html(data['answerc']);
                            $('#d').html(data['answerd']);
                            $('#question').html(data['question'])
                            page++;
                        },
                        error : function(xhr, textStatus, throwError) {
                            console.log('Requete échoué'+ throwError)
                        },
                        complete : function() {
                        }
                    });
                }

            });
        });
        function foo(arr) { let a = [], b = [], prev; arr.sort(); for ( let i = 0; i < arr.length; i++ ) { if ( arr[i] !== prev ) { a.push(arr[i]); b.push(1); } else { b[b.length-1]++; } prev = arr[i]; } return [a, b]; }
        function compare (arr) {
            let maxValue = Math.max.apply(this, arr[1]);
            let key = $.inArray(maxValue,arr[1]);
            return  arr[0][key];
        }
        function findHouse(key) {
            switch (key) {
                case 'a'    : return 'grosqueutards';
                case 'b'    : return 'cracrador';
                case 'c'    : return 'cognoseres';
                case 'd'    : return 'castasouffles';
                default     : return 'Belfortain';
            }
        }
    </script>
    <section id="house-game">
        <h1>Jeu des maisons</h1>

        <div id="cadre">
            <h2 id="question">{{ gameHouse.question }}</h2>

            <div id="answers">
                <div id="a" class="button-game yellow">{{ gameHouse.answera }}</div>
                <div id="b" class="button-game blue">{{ gameHouse.answerb }}</div>
                <div id="c" class="button-game red">{{ gameHouse.answerc }}</div>
                <div id="d" class="button-game green">{{ gameHouse.answerd }}</div>
            </div>


        </div>
    </section>

{% endblock %}
