{% extends 'base.html.twig' %}

{% block title %}Jeu concours{% endblock %}

{% block body %}
    <div class="container my-5">
        {{ form_start(form) }}
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6">
                {{ form_row(form.lastname) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6">
                {{ form_row(form.firstname) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6">
                {{ form_row(form.nickname) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6">
                {{ form_row(form.answer) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6">
                {{ form_row(form.dataConsent) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-outline-success text-uppercase">{{ button_label|default('enregister') }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
