{% extends 'base.html.twig' %}

{% block title %}Jeu concours{% endblock %}

{% block body %}
    <section id="game">
        {{ form_start(form) }}
        <h1>Jeu concours</h1>
        <div class="game-form-input">{{ form_row(form.lastname) }}</div>
        <div class="game-form-input">{{ form_row(form.firstname) }}</div>
        <div class="game-form-input">{{ form_row(form.nickname) }}</div>
        <div class="game-form-input">{{ form_row(form.email) }}</div>
        <div class="game-form-input">{{ form_row(form.answer) }}</div>
        <div class="game-form-input">{{ form_row(form.dataConsent) }}</div>
        <button type="submit" class="button button-success">{{ button_label|default('Envoyer ta réponse') }}</button>
        {{ form_end(form) }}

        <aside>
        {% if answer == true %}
            <img src="{{ asset('asset/images/bob.jpg' ) }}" alt="erreur-404">
            {%  else %}
            <img src="{{ asset('asset/images/chateau.png' ) }}" alt="chateau">
        </aside>

        {% endif %}
    </section>

{% endblock %}
