<div class="head flex">
    <a class="logo" href="{{ path('home') }}"><img src="{{ asset('asset/images/logotype.png' ) }}" alt="logo-orlours" title="Logo Orlours 135" /></a>
    <nav>
        <ul>
            <li><a href="{{ path('team') }}">Equipe</a></li>
            <li><a href="{{ path('housegame') }}" >Jeu des maisons</a></li>
{#            <li><a href="{{ path('home') }}">Orléans</a></li>#}
{#            <li><a href="{{ path('home') }}">Tours</a></li>#}
        </ul>
    </nav>
</div>

{#TODO -> barre mobile#}